<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <display-name>TimeTracker Web Application</display-name>

  <!-- Spring Security Filter Chain -->
  <filter>
    <filter-name>springSecurityFilterChain</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>springSecurityFilterChain</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

    <!-- Spring context configuration path -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:applicationContext*.xml</param-value>
    </context-param>

    <!-- Spring Listeners -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>timeTagService</servlet-name>
        <servlet-class>by.chronology.web.server.rpc.TimeTagServiceImpl</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>userService</servlet-name>
        <servlet-class>by.chronology.web.server.rpc.UserServiceImpl</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>timeTagService</servlet-name>
        <url-pattern>/services/timeTagService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userService</servlet-name>
        <url-pattern>/services/userService</url-pattern>
    </servlet-mapping>

</web-app>
